
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Seguro</h1>

<button class="btn btn-success" id="botaoCadastrar" name="botaoCadastrar" data-toggle="modal" data-target="#cadastrar">Cadastrar</button>

<table class="tabela">
    <tr>
        <td></td>
    </tr>
</table>


<div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" aria-labelledby="exemploModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exemploModalLabel">Cadastrar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Cadastrar">
                    <input type="hidden" id="Id" value="0" />
                    <div class="form-group">
                        <label for="nome" class="col-form-label">valorVeiculo</label>
                        <input type="text" class="form-control cadastrarValorVeiculo" id="valorVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">taxaRisco</label>
                        <input type="text" class="form-control cadastrarTaxaRisco" id="taxaRisco">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioRisco</label>
                        <input type="text" class="form-control cadastrarPremioRisco" id="premioRisco">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioPuro</label>
                        <input type="text" class="form-control cadastrarPremioPuro" id="premioPuro">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioComercial</label>
                        <input type="text" class="form-control cadastrarPremioComercial" id="premioComercial">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">valorSeguro</label>
                        <input type="text" class="form-control cadastrarValorSeguro" id="valorSeguro">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">marcaVeiculo</label>
                        <input type="text" class="form-control cadastrarMarcaVeiculo" id="marcaVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">modeloVeiculo</label>
                        <input type="text" class="form-control cadastrarModeloVeiculo" id="modeloVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">nome</label>
                        <input type="text" class="form-control cadastrarNome" id="nome">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">cPF</label>
                        <input type="text" class="form-control cadastrarcpf" id="cPF">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">idade</label>
                        <input type="text" class="form-control cadastrarIdade" id="idade">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-Cadastrar">Salvar Dados</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exemploModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exemploModalLabel">Editar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="put" action="/Atualizar">
                    <input type="hidden" id="Id" />
                    <div class="form-group">
                        <label for="nome" class="col-form-label">valorVeiculo</label>
                        <input type="text" class="form-control editarValorVeiculo" id="valorVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">taxaRisco</label>
                        <input type="text" class="form-control editarTaxaRisco" id="taxaRisco">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioRisco</label>
                        <input type="text" class="form-control editarPremioRisco" id="premioRisco">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioPuro</label>
                        <input type="text" class="form-control editarPremioPuro" id="premioPuro">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioComercial</label>
                        <input type="text" class="form-control editarPremioComercial" id="premioComercial">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">valorSeguro</label>
                        <input type="text" class="form-control editarValorSeguro" id="valorSeguro">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">marcaVeiculo</label>
                        <input type="text" class="form-control editarMarcaVeiculo" id="marcaVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">modeloVeiculo</label>
                        <input type="text" class="form-control editarModeloVeiculo" id="modeloVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">nome</label>
                        <input type="text" class="form-control editarNome" id="nome">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">cPF</label>
                        <input type="text" class="form-control editarCpf" id="cPF">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">idade</label>
                        <input type="text" class="form-control editarIdade" id="idade">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-Editar">Salvar Dados</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="excluir" tabindex="-1" role="dialog" aria-labelledby="exemploModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exemploModalLabel">Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="delete" action="/Remover">
                    <input type="hidden" id="Id" />
                    <div class="form-group">
                        <label for="nome" class="col-form-label">valorVeiculo</label>
                        <input type="text" class="form-control cadastrarValorVeiculo" id="valorVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">taxaRisco</label>
                        <input type="text" class="form-control cadastrarTaxaRisco" id="taxaRisco">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioRisco</label>
                        <input type="text" class="form-control cadastrarPremioRisco" id="premioRisco">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioPuro</label>
                        <input type="text" class="form-control cadastrarPremioPuro" id="premioPuro">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">premioComercial</label>
                        <input type="text" class="form-control cadastrarPremioComercial" id="premioComercial">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">valorSeguro</label>
                        <input type="text" class="form-control cadastrarValorSeguro" id="valorSeguro">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">marcaVeiculo</label>
                        <input type="text" class="form-control cadastrarMarcaVeiculo" id="marcaVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">modeloVeiculo</label>
                        <input type="text" class="form-control cadastrarModeloVeiculo" id="modeloVeiculo">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">nome</label>
                        <input type="text" class="form-control cadastrarNome" id="nome">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">cPF</label>
                        <input type="text" class="form-control cadastrarcpf" id="cPF">
                    </div>
                    <div class="form-group">
                        <label for="nome" class="col-form-label">idade</label>
                        <input type="text" class="form-control cadastrarIdade" id="idade">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-Excluir">Confirma a exclusão?</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/js/View/Seguro/Seguro.js"></script>

    <script type="text/javascript">
        $(function () {
            seguroScript.init();
        })
    </script>
}

